<div class="container">
  <div class="detail">
    <h2>{{ countryName }}</h2>
    <div *ngIf="error$ | async as errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div class="flex-container">
      <div class="info-container">
        <h3>Number of entries</h3>
        <ng-container *ngIf="numberOfEntries$ | async as numberOfEntries; else loadingEntries">
          <p>{{ numberOfEntries }}</p>
        </ng-container>
        <ng-template #loadingEntries>
          <p>Loading...</p>
        </ng-template>
      </div>
      <div class="info-container">
        <h3>Total number of medals</h3>
        <ng-container *ngIf="numberOfMedals$ | async as numberOfMedals; else loadingMedals">
          <p>{{ numberOfMedals }}</p>
        </ng-container>
        <ng-template #loadingMedals>
          <p>Loading...</p>
        </ng-template>
      </div>
      <div class="info-container">
        <h3>Total number of athletes</h3>
        <ng-container *ngIf="numberOfAthletes$ | async as numberOfAthletes; else loadingAthletes">
          <p>{{ numberOfAthletes }}</p>
        </ng-container>
        <ng-template #loadingAthletes>
          <p>Loading...</p>
        </ng-template>
      </div>
    </div>
    <div class="line-chart-container">
      <p *ngIf="(lineChartData$ | async)?.length === 0 || (numberOfEntries$ | async) === 0">No data available for the chart.</p>
      <ngx-charts-line-chart
        *ngIf="(lineChartData$ | async)?.length !== 0 && (numberOfEntries$ | async) !== 0"
        [trimXAxisTicks]="true"
        [animations]="false"
        [scheme]="'cool'"
        [xAxis]="true"
        [yAxis]="true"
        [autoScale]="true"
        [xAxisTickFormatting]="formatValuesToString"
        [yAxisTickFormatting]="formatValuesToString"
        [results]="lineChartData$ | async"
        [rotateXAxisTicks]="true"
        [tooltipDisabled]="true">
      </ngx-charts-line-chart>
      <ng-template #noDataChart>
        <p>No data available for the timeline chart.</p>
      </ng-template>
      <h3 *ngIf="(lineChartData$ | async)?.length !== null">Dates</h3>
    </div>
    <button [routerLink]="['/']">BACK</button>
  </div>
</div>