<div class="container">
  <div class="detail">
    <h2>{{ countryName }}</h2>
    <div class="flex-container">
      <div class="info-container">
        <h3>Number of entries</h3>
        <p>{{ (numberOfEntries$ | async) }}</p>
      </div>
      <div class="info-container">
        <h3>Total number medals</h3>
        <p>{{ (numberOfMedals$ | async) }}</p>
      </div>
      <div class="info-container">
        <h3>Total number of athletes</h3>
        <p>{{ (numberOfAthletes$ | async) }}</p>
      </div>
    </div>
    <div class="line-chart-container">
      <ngx-charts-line-chart
      *ngIf="(lineChartData$ | async)?.length !== 0"
      [trimXAxisTicks]="trimXAxisTicks"
      [scheme]="'cool'"
      [showXAxisLabel]="showXAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [autoScale]="false"
      [xAxisTickFormatting]="formatValuesToString"
      [yAxisTickFormatting]="formatValuesToString"
      [results]="lineChartData$ | async"
      [rotateXAxisTicks]="true"
      [yScaleMin]="15"
      >
      </ngx-charts-line-chart>
    </div>
    <button [routerLink]="''">BACK</button>
  </div>
</div>