<div class="container">
  <div class="dashboard">
    <h2>Medals per Country</h2>
    <div class="flex-container">
      <div class="information-container">
        <h3>Number of JOs</h3>
        <p>{{ (numberOfJOs$ | async) }}</p>
      </div>
      <div class="information-container">
        <h3>Number of countries</h3>
        <p>{{ (olympics$ | async)?.length }}</p>
      </div>
    </div>
    <div class="pie-chart-container">
      <ngx-charts-pie-chart
      [scheme]="colorScheme"
      [results]="pieChartData$ | async"
      [labels]="showLabels"
      [animations]="false"
      [maxLabelLength]="15"
      (select)="onSelect($event)"
      >
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-text">
            {{ model.name }}
            <br>
            <fa-icon [icon]="medalIcon"></fa-icon>{{ model.value }}
          </div>
        </ng-template>
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>