.container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.dashboard {
  background-color: #ffffff;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  padding: 20px;

  .error-message {
    p {
      display: inline-block;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1rem;
      margin: 10px auto !important;
      border-color: #000000;
      border-style: solid;
      border-width: 1px;
      padding: 5px !important;
      background-color: #ffffff;
      font-weight: 600;
      color: #000000 !important;
      word-wrap: break-word;
      box-sizing: border-box;
    }
  }
}

h2 {
  display: inline-block;
  background-color: #04838F;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 100;
  padding: 8px 10px 12px 10px;
  font-size: 2rem;
  margin: 40px 20px 20px 20px;
  line-height: 1; 
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;  
}

.information-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: #04838F;
  text-align: center;
  width: fit-content;
  padding: 6px;
  min-height: 3.5rem;

  h3 {
    color: #5B5B5B;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
  }

  p {
    color: #000000;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
  }
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  max-width: 90vw;
  max-height: 100vh;
  min-width: 150px;
  min-height: 150px;
  margin: 0 auto !important;
}

::ng-deep .pie-label {
  font-size: 1.5rem;
  line-height: 1.5;
}

::ng-deep .ngx-charts-tooltip-content.type-tooltip {
  background-color: #04838F !important;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem !important;
  padding: 0px 8px !important;
  font-weight: 100;
  min-width: 80px;
  border-radius: 10px;
  width: auto !important;
  height: auto !important; 
}

::ng-deep .ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top {
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-top-color: #04838F !important;
}

.tooltip-text {
  text-align: center;
}

fa-icon {
  display: inline-block !important;
  font-size: 85%;
  color:  #ffffff;
  margin-right: 5px;
}

// mobile portrait
@media (max-width: 599px) {
  .container {
    flex-direction: column; 
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
  }
  
  .dashboard {
    padding: 0px;

    .error-message {
      p {
        font-size: 1rem;
        padding: 5px !important;
        border-width: 1px;
      }
    }
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 50px auto 20px auto;
  }
  
  .flex-container {
    gap: 30px;
  }
  
  .information-container {
    min-height: 3rem;
  
    h3 {
      font-size: 1rem;
      line-height: 1.4;
    }
  
    p {
      font-size: 1rem;
      line-height: 1.4;
    }
  }
  
  .pie-chart-container {
    height: 30vh;
    max-width: 95vw;
    max-height: 80vh;
    margin-top: 20px;
  }

  ::ng-deep .pie-label {
    font-size: 1rem !important;
  }

  ::ng-deep .ngx-charts-tooltip-content.type-tooltip {
    font-size: 1rem !important;
    line-height: 1.4;
    min-width: 60px;
  }
  
  ::ng-deep .ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top {
    border-top-width: 12px !important;
    border-left-width: 12px !important;
    border-right-width: 12px !important;
  }
}

// mobile landscape
@media (max-height: 529px) and (min-width: 530px) and (orientation: landscape) {
  .container {
    flex-direction: column; 
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 100%;
  }

  .dashboard {
    
    .error-message {
      p {
        font-size: 1rem;
        padding: 5px !important;
        border-width: 1px;
      }
    }
  }
  
  h2 {
    font-size: 1.5rem !important;
    margin: 0px auto 15px auto;
  }
  
  .flex-container {
    gap: 40px;
  }
  
  .information-container {
    min-height: 2.6rem !important;
  
    h3 {
      font-size: 1rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  
  .pie-chart-container {
    height: 60vh;
    width: 50vw;
    max-width: 50vw;
    max-height: 60vh;
    margin-top: 0px !important;  
  }

  ::ng-deep .pie-label {
    font-size: 1.2rem !important;
  }

  ::ng-deep .ngx-charts-tooltip-content.type-tooltip {
    font-size: 1.2rem !important;
    line-height: 1.5;
    min-width: 60px;
  }
  
  ::ng-deep .ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top {
    border-top-width: 12px !important;
    border-left-width: 12px !important;
    border-right-width: 12px !important;
  }
}

// tablet portrait
@media (min-width: 529px) and (min-height: 530px) {
  .container {
    height: 100%;
    padding: 0px !important;
  }

  .detail {
    padding: 0px !important;
  }

  .dashboard {

    .error-message {
      p {
        font-size: 1.5rem;
        padding: 5px !important;
        border-width: 1px;
      }
    }
  }
  
  h2 {
    padding: 8px 10px 16px 10px;
    font-size: 2.5rem !important;
    margin: 25px;
  }
  
  .flex-container {
    gap: 50px;
  }

  .information-container {
    min-height: 4rem !important;
    border-width: 2px;

    h3 {
      font-size: 1.5rem !important;
    }
  
    p {
      font-size: 1.5rem !important;
    }
  }
  
  .pie-chart-container {
    height: 50vh;
    max-width: 70vw;
    max-height: 70vh;
    margin: 0px 20px 0px 20px !important;
  }

  ::ng-deep .pie-label {
    font-size: 1.8rem !important;
  }

  ::ng-deep .ngx-charts-tooltip-content.type-tooltip {
    font-size: 1.5rem !important;
    line-height: 1.4;
    min-width: 100px;
    min-height: 60px !important;
  }
  
  ::ng-deep .ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top {
    border-top-width: 12px;
    border-left-width: 12px;
    border-right-width: 12px;
  }

  ::ng-deep .pie-label-line {
    stroke-width: 2px;
  }
}

// tablet landscape
@media (min-height: 530px) and (min-width: 768px) and (orientation: landscape) {
  .container {
    height: 100%;
    padding: 0px !important;
  }
  
  .dashboard {
    padding: 0px;

    .error-message {
      p {
        font-size: 1.5rem;
        padding: 5px !important;
        border-width: 1px;
      }
    }
  }
  
  h2 {
    margin: 20px !important;
    padding: 8px 10px 16px 10px;
    font-size: 2.5rem !important;
  }
  
  .flex-container {
    gap: 50px;
  }

  .information-container {
    min-height: 4rem !important;
    border-width: 2px;
  
    h3 {
      font-size: 1.5rem !important;
      line-height: 1.4;
    }
  
    p {
      font-size: 1.5rem !important;
      line-height: 1.4;
    }
  }
  
  .pie-chart-container {
    height: 60vh;
    width: 60vw;
    max-width: 70vw;
    max-height: 70vh;
    margin-top: 10px !important;
  }

  ::ng-deep .pie-label {
    font-size: 1.8rem !important;
  }

  ::ng-deep .ngx-charts-tooltip-content.type-tooltip {
    font-size: 1.5rem !important;
    line-height: 1.5;
    min-width: 100px;
    min-height: 4.5rem !important;
  }

  ::ng-deep .pie-label-line {
    stroke-width: 2px;
  }
}

// desktop
@media (min-width: 1280px) and (max-width: 1599px) and (min-height: 768px) {
  .container {
    padding: 0px;
    height: 100%;
  }

  .dashboard {
    padding: 0px;

    .error-message {
      
      p {
        font-size: 1.5rem;
        padding: 5px !important;
        border-width: 1px;
      }
    }
  }
  
  h2 {
    padding: 8px 10px 20px 10px;
    font-size: 3rem !important;
    margin: 40px !important;
  }
  
  .flex-container {
    gap: 60px;
  }
  
  .information-container {
    min-height: 5.5rem;
    padding: 10px 20px;
    border-width: 3px;
  
    h3 {
      font-size: 2rem !important;
    }
  
    p {
      font-size: 2rem !important;
    }
  }
  
  .pie-chart-container {
    width: 60vw;
    height: 60vh;
    max-width: 80vw;
    max-height: 80vh;
    margin-top: 40px;
  }

  ::ng-deep .pie-label {
    font-size: 2.2rem !important;
  }

  ::ng-deep .ngx-charts-tooltip-content.type-tooltip {
    font-size: 2rem !important;
    line-height: 1.4;
    min-width: 150px !important;
  }

  ::ng-deep .pie-label-line {
    stroke-width: 3px;
  }
}

// large desktop
@media (min-width: 1600px) and (min-height: 768px) {
  .container {
    padding: 0px;
    height: 100%;
  }

  .dashboard {
    padding: 0px;

    .error-message {
      p {
        font-size: 1.5rem;
        padding: 5px !important;
        border-width: 1px;
      }
    }
  }
  
  h2 {
    padding: 8px 10px 20px 10px;
    font-size: 3.5rem !important;
    margin: 40px !important;
  }
  
  .flex-container {
    gap: 60px;
  }
  
  .information-container {
    min-height: 6.5rem;
    padding: 10px 20px;
    border-width: 3px;
  
    h3 {
      font-size: 2.5rem !important;
    }
  
    p {
      font-size: 2.5rem !important;
    }
  }
  
  .pie-chart-container {
    width: 60vw;
    height: 60vh;
    max-width: 80vw;
    max-height: 80vh;
    margin-top: 40px;
  }

  ::ng-deep .pie-label {
    font-size: 2.8rem !important;
  }

  ::ng-deep .ngx-charts-tooltip-content.type-tooltip {
    font-size: 2.5rem !important;
    min-width: 170px !important;
  }
  
  ::ng-deep .ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top {
    border-top-width: 24px;
    border-left-width: 24px;
    border-right-width: 24px;
  }

  ::ng-deep .pie-label-line {
    stroke-width: 3px;
  }
}